@model SIGC_PROJECT.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header text-center">
                    <h2 style="font-weight: bold; font-size: 1.7em; color: #04294F;">Información general del paciente</h2>
                </div>

                <div class="card-body">

                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <strong>Cédula:</strong>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Cedula)
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <strong>Nombre Completo:</strong>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
                        </div>
                    </div>

                    <div class="row striped-row mb-3">
                        <div class="col-sm-3">
                            <strong>Fecha de Nacimiento:</strong>
                        </div>
                        <div class="col-sm-9">
                            @(Model.FechaNacimiento.HasValue ? Model.FechaNacimiento.Value.ToString("dd/MM/yyyy") : "No disponible")
                        </div>
                    </div>

                    <div class="row striped-row mb-3">
                        <div class="col-sm-3">
                            <strong>Edad:</strong>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Edad) años
                        </div>
                    </div>

                    <div class="row striped-row mb-3">
                        <div class="col-sm-3">
                            <strong>Género:</strong>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Genero)
                        </div>
                    </div>

                    <div class="row striped-row mb-3">
                        <div class="col-sm-3">
                            <strong>Teléfono:</strong>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Telefono)
                        </div>
                    </div>

                    <div class="row striped-row mb-3">
                        <div class="col-sm-3">
                            <strong>Dirección:</strong>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Direccion)
                        </div>
                    </div>

                    <div class="row striped-row mb-3">
                        <div class="col-sm-3">
                            <strong>Correo Electrónico:</strong>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.CorreoElectronico)
                        </div>
                    </div>
                </div>

                <div class="card-footer text-center mt-3">
                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{ 
    @*=========== ESTILOS ==========*@
    <style>
        .btn {
            font-weight: bold;
            width: 40%;
        }

        .col-sm-3 { 
            color: #04294F;
            font-size: 1.2em;
        }
        
        .col-sm-9 { 
            font-weight: bold;
            color: #000000;
            font-size: 1.2em;
        }
    </style>
    @*==============================*@
}
