@model SIGC_PROJECT.Models.ViewModel.CitasPacientesVM

@{
    ViewData["Title"] = "Historial de Citas";
}

<h1 style="color: transparent;">Citas</h1>

<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link estilo-tab active" id="pendientes-tab" data-toggle="tab" href="#pendientes" role="tab" aria-controls="pendientes" aria-selected="true">Citas Agendadas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link estilo-tab" id="completadas-tab" data-toggle="tab" href="#completadas" role="tab" aria-controls="completadas" aria-selected="false">Historico de Citas</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent" style="background-color: #ECEFF2;">

    @*====== CITAS AGENDADAS ======*@
    <div class="tab-pane fade show active" id="pendientes" role="tabpanel" aria-labelledby="pendientes-tab">
        <div id="container-agendadas" class="row">
            @if (Model.CitasPendientes == null || !Model.CitasPendientes.Any())
            {
                <div class="container col-md-12 mt-2 text-center">
                    <div class="alert alert-info font-weight-bold" role="alert" style="width: auto; font-size: 1.7em;">
                        No tienes citas agendadas en este momento.
                    </div>
                </div>
            }
            else
            {
                @foreach (var cita in Model.CitasPendientes)
                {
                    <div class="col-md-6 mb-4 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-text"><strong>Doctor: </strong>@cita.NombreDoctor</h6>
                                <h6 class="card-text mt-1"><strong>Especialidad: </strong>@cita.EspecialidadDoctor - @cita.Doctor.Consultorio</h6>
                                <h6 class="card-text mt-1">
                                    <strong>Fecha: </strong> @(cita.FechaCita.HasValue ? cita.FechaCita.Value.ToString("dd/MM/yyyy") : "No disponible")
                                </h6>
                                <h6 class="card-text mt-1"><strong>Hora: </strong> @cita.HoraCita</h6> 
                                <h6 class="card-text mt-1"><strong>Motivo de la cita: </strong> @cita.Comentario</h6>
                            </div>

                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-danger font-weight-bold" data-cita-id="@cita.CitaId">
                                    Cancelar Cita
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    @*====== CITAS ANTERIORES ======*@
    <div class="tab-pane fade" id="completadas" role="tabpanel" aria-labelledby="completadas-tab">
        <table class="table table-striped w-100 mt-3">
            <thead>
                <tr class="th_bg">
                    <th>Doctor</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cita in Model.CitasCompletadas)
                {
                    <tr>
                        <td>@cita.NombreDoctor</td>
                        <td>@cita.EspecialidadDoctor</td>
                        <td>
                            @(cita.FechaCita.HasValue ? cita.FechaCita.Value.ToString("dd/MM/yyyy") : "No disponible")
                        </td>
                        <td>@cita.HoraCita</td>
                        <td>@cita.Estado</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*======== MODAL DE CONFIRMACION ========*@
<div class="modal fade" id="confirmCancel" tabindex="-1" aria-labelledby="confirmCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title font-weight-bold" id="confirmCancelModalLabel" style="color: #000000;">Confirmar Cancelación</h5>
            </div>

            <div class="modal-body text-center">
                <h6 style="color: #000000; font-weight: bold;">
                    ¿Está seguro de que desea cancelar esta cita?
                </h6>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" id="modalCerrar" style="width: 20%;">No</button>
                <a id="btnConfirmCancel" class="btn btn-primary" href="#" style="width: 20%;">Sí</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @*====== FUNCIONALIDADES ======*@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var cancelButtons = document.querySelectorAll('[data-cita-id]');
            var confirmCancelButton = document.getElementById('btnConfirmCancel');

            cancelButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    $('#confirmCancel').modal('show');

                    var citaId = this.getAttribute('data-cita-id');
                    confirmCancelButton.href = '@Url.Action("CancelarCita")' + '?id=' + citaId;
                });
            });

            document.getElementById('modalCerrar').addEventListener('click', function () {
                $('#confirmCancel').modal('hide');
            });
        });
    </script>
    @*=============================*@

    @*===== ESTILOS =====*@
    <style>
        .card {
            height: 100%;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .estilo-tab {
            background-color: rgba(42, 62, 84, 0.2);
            color: rgba(42, 62, 84, 0.4);
            font-weight: bold;
        }

        .estilo-tab:hover {
            background-color: rgba(42, 62, 84, 0.8) !important;
            color: white;
            transition: background-color 0.3s linear;
        }

        .estilo-tab.active {
            background-color: #4a7cba !important;
            color: white !important;
            text-shadow: 1px 1px 2px #3e536d;
        }

        .card-text { 
            color: #000000;
        }

        .th_bg {
            text-align: center;
            background-color: #4a7cba;
            color: #FFFFFF;
            font-weight: bold;
            text-shadow: 1px 1px 2px #3e536d;
        }

        th {
            border: 1px solid #FFFFFF;
        }

    </style>
    @*===================*@
}