@model IEnumerable<SIGC_PROJECT.Models.DisponibilidadDoctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Horarios doctores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                <span class="hora-inicio">@item.HoraInicio</span>
            </td>
            <td>
                <span class="hora-fin">@item.HoraFin</span>
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorId)
            </td>
            <td>
                    <a asp-action="Edit" class=" btn btn-warning" asp-route-id="@item.DisponibilidadDoctorId">Edit</a> |
                    <a asp-action="Details" class=" btn btn-primary" asp-route-id="@item.DisponibilidadDoctorId">Details</a> |
                    <a asp-action="Delete" class=" btn btn-danger" asp-route-id="@item.DisponibilidadDoctorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        // Función para convertir un valor de 24 horas a formato de 12 horas con AM/PM
        function convertirFormatoHora(valor) {

            // Se divide el valor en horas y minutos
            var [horas, minutos] = valor.split(':').map(Number);

            // Determinar si es a.m. o p.m.
            var periodo = horas >= 12 ? 'p.m.' : 'a.m.';

            // Convierte la hora al formato de 12 horas
            horas = horas % 12;
            horas = horas ? horas : 12; // La hora 0 debe ser 12

            // Devuelve la cadena formateada
            return horas + ':' + (minutos < 10 ? '0' : '') + minutos + ' ' + periodo;
        }

        //Aplicarlo a la hora inicio
        document.querySelectorAll('.hora-inicio').forEach(element => {
            const horaFormateada = convertirFormatoHora(element.innerText);
            element.innerText = horaFormateada;
        });
        
        //Aplicarlo a la hora fin
        document.querySelectorAll('.hora-fin').forEach(element => {
            const horaFormateada = convertirFormatoHora(element.innerText);
            element.innerText = horaFormateada;
        });
    </script>
}
