@model IEnumerable<SIGC_PROJECT.Models.DisponibilidadDoctor>

@{
    ViewData["Title"] = "Index";
}


<div style="margin-top: 6em;"></div>
<div class="container mb-3">
    @if (!Model.Any())
    {
        <a asp-action="Create" class="btn btn-estilo">Agregar Horario</a>
    }else{
        <a asp-action="Edit" class=" btn btn-primary font-weight-bold" asp-route-id="@ViewBag.DoctorId">Editar Horario</a>
    }
    
</div>

<table class="table table-striped">
    <thead>
        <tr class="th_bg">
            <th>
                Día
            </th>
            <th>
                Hora de Inicio
            </th>
            <th>
                Hora de Salida
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center font-weight-bold">
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                <span class="hora-inicio">@item.HoraInicio</span>
            </td>
            <td>
                <span class="hora-fin">@item.HoraFin</span>
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorId)
            </td>
            <td class="text-center">
                @*<a asp-action="Details" class=" btn btn-primary" asp-route-id="@item.DisponibilidadDoctorId">Details</a> | *@
                    <a asp-action="Delete" class=" btn btn-danger font-weight-bold" asp-route-id="@item.DisponibilidadDoctorId">Eliminar Día</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{

    @*======== FUNCIONALIDADES ========*@
    <script>
        // Función para convertir un valor de 24 horas a formato de 12 horas con AM/PM
        function convertirFormatoHora(valor) {

            // Se divide el valor en horas y minutos
            var [horas, minutos] = valor.split(':').map(Number);

            // Determinar si es a.m. o p.m.
            var periodo = horas >= 12 ? 'p.m.' : 'a.m.';

            // Convierte la hora al formato de 12 horas
            horas = horas % 12;
            horas = horas ? horas : 12; // La hora 0 debe ser 12

            // Devuelve la cadena formateada
            return horas + ':' + (minutos < 10 ? '0' : '') + minutos + ' ' + periodo;
        }

        //Aplicarlo a la hora inicio
        document.querySelectorAll('.hora-inicio').forEach(element => {
            const horaFormateada = convertirFormatoHora(element.innerText);
            element.innerText = horaFormateada;
        });
        
        //Aplicarlo a la hora fin
        document.querySelectorAll('.hora-fin').forEach(element => {
            const horaFormateada = convertirFormatoHora(element.innerText);
            element.innerText = horaFormateada;
        });
    </script>
    @*=================================*@

    @*======== ESTILOS ========*@
    <style>
        .btn-estilo {
            width: 20%;
            background-color: rgba(42, 62, 84, 1);
            color: #FFFFFF;
            transition: background-color 0.5s linear;
            font-weight: bold;
        }

        .btn-estilo:hover{
            background-color: rgba(42, 62, 84, 0.8);
            color: #FFFFFF;
        }

        .th_bg {
            text-align: center;
            background-color: rgba(42, 62, 84, 1);
            color: #FFFFFF;
        }

        th {
            border: 1px solid #FFFFFF;
        }
    </style>
    @*=========================*@
}
