@model SIGC_PROJECT.Models.Doctor

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2 style="font-weight: bold; font-size: 1.7em; color: #04294F;">¿Está seguro de que desea eliminar este registro?</h2>
                </div>

                <div class="card-body">
                    <div class="container d-flex justify-content-center">
                        <dl class="row" style="width: 80%;">

                            <dt class="col-sm-4">
                                Cédula:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Cedula)
                            </dd>

                            <dt class="col-sm-4">
                                Nombre Completo:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
                            </dd>

                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Especialidad):
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Especialidad)
                            </dd>

                            <dt class="col-sm-4">
                                Número Exequatur:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.NumeroExequatur)
                            </dd>

                            <dt class="col-sm-4">
                                Télefono:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Telefono)
                            </dd>

                            <dt class="col-sm-4">
                                Correo Electrónico:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CorreoElectronico)
                            </dd>

                        </dl>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="DoctorId" />
                        <input type="submit" value="Sí" class="btn btn-primary font-weight-bold" style="width: 20%" />
                        <a asp-action="Index" class="btn btn-secondary font-weight-bold" style="width: 20%">No</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { 

    <style>
    .col-sm-4 {
        color: #04294F;
        font-size: 1.4em;
        margin-top: 1.2em;
    }
    
    .col-sm-8 {
        color: black;
        font-size: 1.4em;
        margin-top: 1.2em;
    }
    </style>
    </style>
}
