@model IPagedList<SIGC_PROJECT.Models.Doctor>

@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<h2 style="font-weight: bold; font-size: 1.7em;" class="mt-5 mb-3">Listado de Doctores</h2>

<p>
    <a class="btn btn-estilo mt-5" asp-action="Create">Crear nuevo registro</a>
</p>
<table class="table table-striped">
    <thead>
        <tr class="th_bg">
            <th>
                Cédula
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Especialidad)
            </th>
            <th>
                Exequatur
            </th>
            <th>
                Télefono
            </th>
            <th>
                Correo Electrónico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroExequatur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td class="d-flex">
                    <a asp-action="Edit" data-toggle="tooltip" title="Editar" class=" btn btn-warning" asp-route-id="@item.DoctorId"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" data-toggle="tooltip" title="Detalles" class=" btn btn-primary" asp-route-id="@item.DoctorId"><i class="fa fa-info-circle"></i></a>
                    <a asp-action="Delete" data-toggle="tooltip" title="Eliminar" class=" btn btn-danger" asp-route-id="@item.DoctorId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="contenedor-paginacion">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina = pagina }), new PagedListRenderOptions{
        
        DisplayPageCountAndCurrentLocation = false,
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToIndividualPages = true,
        MaximumPageNumbersToDisplay = 10,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
        Display = PagedListDisplayMode.Always,

        UlElementClasses = new [] { "pagination", "justify-content-center" },
        LiElementClasses = new [] { "page-item" },
        PageClasses = new [] {"page-link" }
    })

    <div class="paginacion_dabajo">
        @string.Format("Página {0} de {1}", Model.PageNumber, Model.PageCount)
    </div>
</div>

<!-- Agregar estilos CSS -->
<style>
    .paginacion_dabajo {
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
    }

    .contenedor-paginacion {
        text-align: center;
    }

    .th_bg {
        background-color: rgba(42, 62, 84, 1);
        color: #FFFFFF;
    }

    th { 
        border: 1px solid #FFFFFF;
    }

    .btn-estilo {
        background-color: rgba(42, 62, 84, 1);
        color: #FFFFFF;
        transition: background-color 0.5s linear;
        width: 20%;
        font-weight: bold;
        font-size: 1.1em;
    }

    .btn-estilo:hover {
        background-color: rgba(42, 62, 84, 0.8);
        color: #FFFFFF;
    }
</style>