@model IEnumerable<SIGC_PROJECT.Models.ViewModel.ConsultaGeneralVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Consultas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Motivo de la consulta
            </th>
            @if (User.IsInRole("Doctor"))
            {
                <th>
                    Paciente
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            @if (User.IsInRole("Paciente"))
            {
                <th>
                    Nombre Doctor
                </th>
                <th>
                    Especialidad
                </th>
            }
            <th hidden>
                @Html.DisplayNameFor(model => model.RecetaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.FechaConsulta.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoConsulta)
            </td>
            @if (User.IsInRole("Doctor"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePaciente)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            @if (User.IsInRole("Paciente"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDoctor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EspecialidadDoctor)
                </td>
            }
            <td hidden>
                @Html.DisplayFor(modelItem => item.RecetaId)
            </td>
            <td>
                    <a asp-action="Edit" class=" btn btn-warning" asp-route-id="@item.ConsultaId">Edit</a> |
                    <a asp-action="Details" class=" btn btn-primary" asp-route-id="@item.ConsultaId">Details</a> |
                    <a asp-action="Delete" class=" btn btn-danger" asp-route-id="@item.ConsultaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
